@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

footer {
        text-align: center;
        margin-top: 20px;
        font-size: 0.9em;
        color: white;
        background-color: black;
}
h1 {
        color: purple;
}