@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
<<<<<<< HEAD
=======

footer {
        text-align: center;
        margin-top: 20px;
        font-size: 0.9em;
        color: #CCCCCC;
        background-color: rgb(0, 0, 0);
        padding-top: 48px;
        height: 200px;
}
p {
        margin: 0;
        padding-bo
        ttom: 22px;
}
h1 {
        color: CCCCCC;
}
>>>>>>> 1715801026fd97de60e121c44ef0528ba12b5cef
