@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

footer {
        text-align: center;
        margin-top: 20px;
        font-size: 0.9em;
        color: #666;
        background-color: wheat;
    }
    h1 {
        color: purple;
    }